USE DSPStore
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SP_INSERT_SYS_WELL_MODEL_INTEGRITY]') AND type in (N'P', N'PC'))
DROP PROCEDURE [SP_INSERT_SYS_WELL_MODEL_INTEGRITY]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SP_INSERT_SYS_RUN_LOG_FOR_PERFORMANCE]') AND type in (N'P', N'PC'))
DROP PROCEDURE [SP_INSERT_SYS_RUN_LOG_FOR_PERFORMANCE]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SP_INSERT_SYS_RUN_LOG_FOR_DISKSPACE]') AND type in (N'P', N'PC'))
DROP PROCEDURE [SP_INSERT_SYS_RUN_LOG_FOR_DISKSPACE]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SP_INSERT_SYS_RUN_LOG]') AND type in (N'P', N'PC'))
DROP PROCEDURE [SP_INSERT_SYS_RUN_LOG]
GO
IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[VW_SystemHealth_WellModelQuality]'))
DROP VIEW [VW_SystemHealth_WellModelQuality]
GO
IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[VW_SystemHealth_Well_Integrity]'))
DROP VIEW [VW_SystemHealth_Well_Integrity]
GO
IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[VW_SystemHealth_ServerStatus]'))
DROP VIEW [VW_SystemHealth_ServerStatus]
GO
IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[VW_SystemHealth_Rule]'))
DROP VIEW [VW_SystemHealth_Rule]
GO
IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[VW_SystemHealth_POLECY]'))
DROP VIEW [VW_SystemHealth_POLECY]
GO
IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[VW_SystemHealth_Incident_Log_Data]'))
DROP VIEW [VW_SystemHealth_Incident_Log_Data]
GO
IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[VW_SystemHealth_Incident_Log]'))
DROP VIEW [VW_SystemHealth_Incident_Log]
GO
IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[VW_SystemHealth_ExcutionPerform]'))
DROP VIEW [VW_SystemHealth_ExcutionPerform]
GO
IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[VW_SystemHealth_ESP_Validate]'))
DROP VIEW [VW_SystemHealth_ESP_Validate]
GO
IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[VW_SystemHealth_ESP_Data]'))
DROP VIEW [VW_SystemHealth_ESP_Data]
GO
IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[VW_SystemHealth_DCP_GC_By]'))
DROP VIEW [VW_SystemHealth_DCP_GC_By]
GO
IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[VW_SystemHealth_DCP_GC]'))
DROP VIEW [VW_SystemHealth_DCP_GC]
GO
IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[VW_SystemHealth_DataQuality]'))
DROP VIEW [VW_SystemHealth_DataQuality]
GO
IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[VW_SystemHealth_Connectivity_DataQuality]'))
DROP VIEW [VW_SystemHealth_Connectivity_DataQuality]
GO
IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[VW_SystemHealth_ExcutionPerform_by]'))
DROP VIEW [VW_SystemHealth_ExcutionPerform_by]
GO
IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[VW_SystemHealth_ProcessExclution_Data]'))
DROP VIEW [VW_SystemHealth_ProcessExclution_Data]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SYS_WORKFLOW_TEST_DATA]') AND type in (N'U'))
DROP TABLE [SYS_WORKFLOW_TEST_DATA]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SYS_WELL_MODEL_INTEGRITY]') AND type in (N'U'))
DROP TABLE [SYS_WELL_MODEL_INTEGRITY]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SYS_RUN_LOG]') AND type in (N'U'))
DROP TABLE [SYS_RUN_LOG]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SYS_LOG_LEVEL]') AND type in (N'U'))
DROP TABLE [SYS_LOG_LEVEL]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SYS_LOG_CASE]') AND type in (N'U'))
DROP TABLE [SYS_LOG_CASE]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SYS_INCIDENT_LOG]') AND type in (N'U'))
DROP TABLE [SYS_INCIDENT_LOG]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SYS_DCP_GC]') AND type in (N'U'))
DROP TABLE [SYS_DCP_GC]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SYS_DATA_PERFORMANCE]') AND type in (N'U'))
DROP TABLE [SYS_DATA_PERFORMANCE]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SYS_DATA_PERFORMANCE](
	[KWDI_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DATASOURCE] [varchar](20) NOT NULL,
	[INPUTDATETIME] [datetime] NOT NULL,
	[STATUSTYPE] [varchar](20) NOT NULL,
	[TARGET] [float] NULL,
	[ACTUAL] [float] NULL,
	[EXECUTIONTIME] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[KWDI_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SYS_DCP_GC](
	[DCP_GC_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[INPUTDATETIME] [date] NOT NULL,
	[GCNAME] [varchar](20) NOT NULL,
	[TARGET] [float] NULL,
	[ACTUAL] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[DCP_GC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SYS_INCIDENT_LOG](
	[INCIDENT_LOG_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[LOGDATE] [date] NULL,
	[DAY_OF_THE_WEEK] [varchar](15) NULL,
	[TIME_OF_INCIDENT] [varchar](50) NULL,
	[DURATION] [float] NULL,
	[ACTUAL_ESTIMATED] [varchar](200) NULL,
	[CATEGORY] [varchar](200) NULL,
	[SYS_APP_NAME] [varchar](200) NULL,
	[SERVER_NAME] [varchar](200) NULL,
	[IP_ADDR] [varchar](20) NULL,
	[REMARKS] [varchar](255) NULL,
	[REASON] [varchar](512) NULL,
	[SOLUTION] [varchar](200) NULL,
 CONSTRAINT [PK__SYS_INCI__FC86D61DCB59F28D] PRIMARY KEY CLUSTERED 
(
	[INCIDENT_LOG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SYS_LOG_CASE](
	[SYS_LOG_CASE_ID] [bigint] NOT NULL,
	[CASE_NAME] [varchar](100) NULL,
	[CASE_TYPE] [varchar](50) NULL,
	[ISSUE_TYPE] [varchar](50) NULL,
	[SYS_LOG_LEVEL_ID] [int] NULL,
	[LOW_LIMIT] [float] NULL,
	[HIGH_LIMIT] [float] NULL,
	[UNIT] [varchar](50) NULL,
 CONSTRAINT [PK_SYS_LOG_CASE] PRIMARY KEY CLUSTERED 
(
	[SYS_LOG_CASE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SYS_LOG_LEVEL](
	[SYS_LOG_LEVEL_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](10) NULL,
	[COLOR] [varchar](100) NULL,
 CONSTRAINT [PK_SYS_LOG_LEVEL] PRIMARY KEY CLUSTERED 
(
	[SYS_LOG_LEVEL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SYS_RUN_LOG](
	[SYS_RUN_LOG_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DATETIME] [datetime] NOT NULL,
	[SYS_LOG_CASE_ID] [int] NOT NULL,
	[LEVEL] [varchar](50) NULL,
	[LEVEL_NAME] [varchar](50) NULL,
	[DATA_TYPE] [varchar](100) NULL,
	[DATA_VALUE] [float] NULL,
	[REMARKS] [varchar](1000) NULL,
	[TICKET_ID] [bigint] NULL,
 CONSTRAINT [PK__SYS_RUN___D54F18640CBAE877] PRIMARY KEY CLUSTERED 
(
	[SYS_RUN_LOG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SYS_WELL_MODEL_INTEGRITY](
	[MODEL_INTEGRITY_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[INPUTDATETIME] [datetime] NOT NULL,
	[FIELD] [varchar](20) NOT NULL,
	[GC] [varchar](20) NOT NULL,
	[ENGINEER] [nchar](20) NULL,
	[RESERVIORNAME] [nchar](20) NULL,
	[WELLNAME] [varchar](20) NOT NULL,
	[MODEL_AVILIABLE] [varchar](20) NOT NULL,
	[MODEL_QUALITY] [varchar](20) NOT NULL,
	[PUMPMATCHED] [float] NULL,
	[WELL_MODEL_PUMP_NAME] [nvarchar](200) NULL,
	[WELL_MODEL_STAGE] [float] NULL,
	[ModifiedBy] [nchar](100) NULL,
	[ALMS_PUMP_NAME] [nvarchar](200) NULL,
	[ALMS_STAGE] [float] NULL,
	[TEST_MATCHED_LIQUID_MATCHED] [float] NULL,
	[TEST_MATCHED_WC] [float] NULL,
	[TEST_MATCHED_GOR] [float] NULL,
	[TEST_MATCHED_WHP] [float] NULL,
	[MODEL_MATCHED_PUMP_TYPE] [float] NULL,
	[MODEL_MATCHED_STAGE] [float] NULL,
	[STATIS_DEVIATE_WC] [int] NULL,
	[STATIS_DEVIATE_GOR] [int] NULL,
	[STATIS_DEVIATE_PI] [int] NULL,
	[STATIS_DEVIATE_PR] [int] NULL,
	[WELLTYPE] [nchar](20) NULL,
 CONSTRAINT [PK__SYS_WELL__5B083D1A7B97A925] PRIMARY KEY CLUSTERED 
(
	[MODEL_INTEGRITY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SYS_WORKFLOW_TEST_DATA](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[inputdate] [datetime] NOT NULL,
	[wellid] [int] NULL,
	[WELLNAME] [nchar](30) NULL,
	[LIQUIDRATE] [float] NULL,
	[OILRATE] [float] NULL,
	[WATERCUT] [float] NULL,
	[GASRATE] [float] NULL,
	[GOR] [float] NULL,
	[WHP] [float] NULL,
	[FLP] [float] NULL,
	[WHT] [float] NULL,
	[PUMPNAME] [nvarchar](1000) NULL,
	[STAGE] [float] NULL,
 CONSTRAINT [PK_SYS_WORKFLOW_TEST_DATA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [VW_SystemHealth_ProcessExclution_Data]
AS
SELECT   date, LEVELNAME, SUM(elipsetime) AS datavalue, CASE WHEN SUM(errors) > 0 THEN 0 ELSE 1 END AS status
FROM      (SELECT   DATEADD(MM, 2, CAST(CONVERT(varchar(10), ENDDATE, 121) AS DATETIME)) AS date, STARTDATE, 
                                 ENDDATE, CASE WHEN jobname IN ('KwIDF_Get_Finder_WaterInjection', 
                                 'KwIDF_Get_Finder_WaterInjection_Success_2', 'KwIDF_Get_Finder_WellData', 
                                 'KwIDF_Get_Finder_LevelDailyData', 'KwIDF_Get_Finder_WellDailyData') 
                                 THEN 'Transfer Finder Data' WHEN JOBNAME LIKE '%PETEX%' THEN 'Transfer IVM Dat' WHEN jobname LIKE '%ALMS%'
                                  THEN 'Transfer ALMS Data' WHEN JOBNAME LIKE '%PHD%' THEN 'Transfer PHD Data' WHEN JOBNAME LIKE
                                  '%OpenWell%' THEN 'Transfer EDM Data' ELSE NULL END AS LEVELNAME, DATEDIFF(second, ENDDATE, 
                                 LOGDATE) AS elipsetime, ISNULL(ERRORS, 0) AS errors
                 FROM      [log].ETL_Log_Job AS t
                 WHERE   (JOBNAME LIKE '%finder%' OR
                                 JOBNAME LIKE '%PEtex%') AND EXISTS
                                     (SELECT   1 AS Expr1
                                      FROM      (SELECT   JOBNAME, DATEADD(mm, - 2, MAX(STARTDATE)) AS ddate
                                                       FROM      [log].ETL_Log_Job
                                                       GROUP BY JOBNAME) AS tt
                                      WHERE   (t.STARTDATE >= ddate) AND (JOBNAME = t.JOBNAME)) OR
                                 (JOBNAME LIKE '%ALMS%') AND EXISTS
                                     (SELECT   1 AS Expr1
                                      FROM      (SELECT   JOBNAME, DATEADD(mm, - 2, MAX(STARTDATE)) AS ddate
                                                       FROM      [log].ETL_Log_Job AS ETL_Log_Job_3
                                                       GROUP BY JOBNAME) AS tt_3
                                      WHERE   (t.STARTDATE >= ddate) AND (JOBNAME = t.JOBNAME)) OR
                                 (JOBNAME LIKE '%PHD%') AND EXISTS
                                     (SELECT   1 AS Expr1
                                      FROM      (SELECT   JOBNAME, DATEADD(mm, - 2, MAX(STARTDATE)) AS ddate
                                                       FROM      [log].ETL_Log_Job AS ETL_Log_Job_2
                                                       GROUP BY JOBNAME) AS tt_2
                                      WHERE   (t.STARTDATE >= ddate) AND (JOBNAME = t.JOBNAME)) OR
                                 (JOBNAME LIKE '%OpenWell%') AND EXISTS
                                     (SELECT   1 AS Expr1
                                      FROM      (SELECT   JOBNAME, DATEADD(mm, - 2, MAX(STARTDATE)) AS ddate
                                                       FROM      [log].ETL_Log_Job AS ETL_Log_Job_1
                                                       GROUP BY JOBNAME) AS tt_1
                                      WHERE   (t.STARTDATE >= ddate) AND (JOBNAME = t.JOBNAME))) AS t0
WHERE   (LEVELNAME IS NOT NULL)
GROUP BY date, LEVELNAME
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [VW_SystemHealth_ExcutionPerform_by] as
select
row_number()over(order by inputdatetime desc) rn,processName,target,actual,inputdatetime,datavalue,cnt,STATISTICSTYPE
from
(
select  
levelName processName,
95 target,
datavalue,
status actual,
1 cnt,
date inputdatetime,
1 STATISTICSTYPE
from VW_SystemHealth_ProcessExclution_Data
union
select
processname,target,datavalue,actual,cnt,inputdatetime,0 STATISTICSTYPE
from
(
select  
row_number()over(partition by levelName order by date desc) rn,
levelName processName,
95 target,
datavalue,
status actual,
1 cnt,
date inputdatetime
from VW_SystemHealth_ProcessExclution_Data
) t0
where rn=1
) t
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [VW_SystemHealth_Connectivity_DataQuality] as
select
 row_number()over(order by INPUTDATETIME desc) rn,LEVEL_NAME,  ctarget, cactual,
 dtarget, dactual 
,  INPUTDATETIME,  STATISTICSTYPE
from
(
select LEVEL_NAME,95 ctarget,case when SYS_LOG_CASE_ID=14 then 0 else 1 end cactual,
95 dtarget,case when SYS_LOG_CASE_ID=14 then 0 else 1 end dactual
,datetime INPUTDATETIME, 1 STATISTICSTYPE from SYS_RUN_LOG where SYS_LOG_CASE_ID in (14,15)
union
select 
 LEVEL_NAME,  ctarget, cactual,
 dtarget, dactual 
,  INPUTDATETIME,0 STATISTICSTYPE
from
(
select row_number()over(partition by level_name order by datetime desc) rn, LEVEL_NAME,95 ctarget,case when SYS_LOG_CASE_ID=14 then 0 else 1 end cactual,
95 dtarget,case when SYS_LOG_CASE_ID=14 then 0 else 1 end dactual
,datetime INPUTDATETIME  from SYS_RUN_LOG where SYS_LOG_CASE_ID in (14,15)
) t0
where rn=1
) t
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [VW_SystemHealth_DataQuality]
AS
SELECT   ROW_NUMBER() OVER (ORDER BY DATASOURCE,INPUTDATETIME) RN, DATASOURCE, CTARGET, CACTUAL, DTARGET, DACTUAL, 
INPUTDATETIME, STATISTICSTYPE
FROM      (SELECT   T0.DATASOURCE, T1.TARGET AS CTARGET, T1.ACTUAL AS CACTUAL, T2.TARGET AS DTARGET, 
                                 T2.ACTUAL AS DACTUAL, T0.INPUTDATETIME, 1 STATISTICSTYPE
                 FROM      (SELECT   DATASOURCE, INPUTDATETIME
                                  FROM      dbo.SYS_DATA_PERFORMANCE
                                  WHERE   (STATUSTYPE IN ('Connectivity Status', 'Data Quality'))
                                  GROUP BY DATASOURCE, INPUTDATETIME) AS T0 LEFT OUTER JOIN
                                     (SELECT   DATASOURCE, INPUTDATETIME, TARGET, ACTUAL
                                      FROM      dbo.SYS_DATA_PERFORMANCE AS SYS_DATA_PERFORMANCE_2
                                      WHERE   (STATUSTYPE = 'Connectivity Status')) AS T1 ON T0.DATASOURCE = T1.DATASOURCE AND 
                                 T0.INPUTDATETIME = T1.INPUTDATETIME LEFT OUTER JOIN
                                     (SELECT   DATASOURCE, INPUTDATETIME, TARGET, ACTUAL
                                      FROM      dbo.SYS_DATA_PERFORMANCE AS SYS_DATA_PERFORMANCE_1
                                      WHERE   (STATUSTYPE = 'Data Quality')) AS T2 ON T0.DATASOURCE = T2.DATASOURCE AND 
                                 T0.INPUTDATETIME = T2.INPUTDATETIME
                 UNION
                 SELECT   DATASOURCE, CTARGET, CACTUAL, DTARGET, DACTUAL, INPUTDATETIME, 0 STATISTICSTYPE
                 FROM      (SELECT   ROW_NUMBER() OVER (PARTITION BY T0.DATASOURCE
                                  ORDER BY T0.INPUTDATETIME DESC) RN, T0.DATASOURCE, T1.TARGET AS CTARGET, 
                                 T1.ACTUAL AS CACTUAL, T2.TARGET AS DTARGET, T2.ACTUAL AS DACTUAL, T0.INPUTDATETIME
                 FROM      (SELECT   DATASOURCE, INPUTDATETIME
                                  FROM      dbo.SYS_DATA_PERFORMANCE
                                  WHERE   (STATUSTYPE IN ('Connectivity Status', 'Data Quality'))
                                  GROUP BY DATASOURCE, INPUTDATETIME) AS T0 LEFT OUTER JOIN
                                     (SELECT   DATASOURCE, INPUTDATETIME, TARGET, ACTUAL
                                      FROM      dbo.SYS_DATA_PERFORMANCE AS SYS_DATA_PERFORMANCE_2
                                      WHERE   (STATUSTYPE = 'Connectivity Status')) AS T1 ON T0.DATASOURCE = T1.DATASOURCE AND 
                                 T0.INPUTDATETIME = T1.INPUTDATETIME LEFT OUTER JOIN
                                     (SELECT   DATASOURCE, INPUTDATETIME, TARGET, ACTUAL
                                      FROM      dbo.SYS_DATA_PERFORMANCE AS SYS_DATA_PERFORMANCE_1
                                      WHERE   (STATUSTYPE = 'Data Quality')) AS T2 ON T0.DATASOURCE = T2.DATASOURCE AND 
                                 T0.INPUTDATETIME = T2.INPUTDATETIME) TT0
WHERE   TT0.RN = 1) TT1
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [VW_SystemHealth_DCP_GC] AS
SELECT
ROW_NUMBER()OVER(ORDER BY INPUTDATETIME) RN,GCNAME,TARGET,ACTUAL,  STATISTICSTYPE ,INPUTDATETIME
FROM
(
SELECT GCNAME,TARGET,ACTUAL,1 STATISTICSTYPE,INPUTDATETIME  FROM SYS_DCP_GC
UNION
SELECT
GCNAME,TARGET,ACTUAL,0 STATISTICSTYPE,INPUTDATETIME
FROM
(
SELECT ROW_NUMBER()OVER(PARTITION BY GCNAME ORDER BY INPUTDATETIME) RN,GCNAME,TARGET,ACTUAL,INPUTDATETIME FROM SYS_DCP_GC
) T0
WHERE RN=1
) T  
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [VW_SystemHealth_DCP_GC_By] as
select
row_number()over(order by inputdate desc) rn,gc,target,actual,inputdate, STATISTICSTYPE
from
(
select gc,95 target,case when FinderOil is not null or FinderOil=0 then 0 else 1 end actual,date inputdate,1 STATISTICSTYPE  from VW_Get_GC_Daily_Data t0
where  exists(select 1 from (select dateadd(mm,-1,max(date)) d  from VW_Get_GC_Daily_Data) t where t0.date>=t.d)
union
select
gc,target,actual,inputdate,0 STATISTICSTYPE
from
(
select row_number()over(partition by gc order by date desc) rn,gc,95 target,case when FinderOil is not null or FinderOil=0 then 0 else 1 end actual,date inputdate
from VW_Get_GC_Daily_Data t0
where  exists(select 1 from (select dateadd(mm,-1,max(date)) d  from VW_Get_GC_Daily_Data) t where t0.date>=t.d)
) tt0
where tt0.rn=1
) tt
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [VW_SystemHealth_ESP_Data]
AS
SELECT   ROW_NUMBER() OVER (ORDER BY INPUTDATETIME) RN, FIELD, GC, ENGINEER, RESERVIORNAME, WELLNAME, 
INPUTDATETIME, PUMPMATCHED, WELL_MODEL_PUMP_NAME, WELL_MODEL_STAGE, ModifiedBy, ALMS_PUMP_NAME, 
ALMS_STAGE, STATISTICSTYPE
FROM      (SELECT   FIELD, GC, ENGINEER, RESERVIORNAME, WELLNAME, PUMPMATCHED, WELL_MODEL_PUMP_NAME, 
                                 WELL_MODEL_STAGE, ModifiedBy, ALMS_PUMP_NAME, ALMS_STAGE, INPUTDATETIME, 
                                 1 STATISTICSTYPE
                 FROM      SYS_WELL_MODEL_INTEGRITY
                  WHERE WELLTYPE='ESP'
                 UNION
                 SELECT   FIELD, GC, ENGINEER, RESERVIORNAME, WELLNAME, PUMPMATCHED, WELL_MODEL_PUMP_NAME, 
                                 WELL_MODEL_STAGE, ModifiedBy, ALMS_PUMP_NAME, ALMS_STAGE, INPUTDATETIME, 
                                 0 STATISTICSTYPE
                 FROM      (SELECT   ROW_NUMBER() OVER (PARTITION BY WELLNAME
                                  ORDER BY INPUTDATETIME DESC) RN, FIELD, GC, ENGINEER, RESERVIORNAME, WELLNAME, 
                                 PUMPMATCHED, WELL_MODEL_PUMP_NAME, WELL_MODEL_STAGE, ModifiedBy, ALMS_PUMP_NAME, 
                                 ALMS_STAGE, INPUTDATETIME, 1 STATISTICSTYPE
                 FROM      SYS_WELL_MODEL_INTEGRITY
                   WHERE WELLTYPE='ESP'
    ) T
WHERE   RN = 1) T0
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [VW_SystemHealth_ESP_Validate]
AS
SELECT   ROW_NUMBER() OVER (ORDER BY INPUTDATETIME) RN, 
CASE WHEN PUMPMATCHED = 0 THEN 'Not Matched' ELSE 'Is Matched' END PUMPMATCHED, MATCHED, INPUTDATETIME, 
STATISTICSTYPE
FROM      (SELECT   t0.PUMPMATCHED, COUNT(t .PUMPMATCHED) MATCHED, t0.INPUTDATETIME, 1 STATISTICSTYPE
                 FROM      (SELECT   0 PUMPMATCHED, t .INPUTDATETIME
                                  FROM      SYS_WELL_MODEL_INTEGRITY t
								  WHERE WELLTYPE='ESP'
                                  UNION
                                  SELECT   1 PUMPMATCHED, t .INPUTDATETIME
                                  FROM      SYS_WELL_MODEL_INTEGRITY t
								   WHERE WELLTYPE='ESP'
								  ) t0 LEFT JOIN
                                 SYS_WELL_MODEL_INTEGRITY t ON t0.PUMPMATCHED = t .PUMPMATCHED AND 
                                 t0.INPUTDATETIME = t .INPUTDATETIME
                 GROUP BY t0.INPUTDATETIME, t0.PUMPMATCHED
                 UNION
                 SELECT   PUMPMATCHED, MATCHED, INPUTDATETIME, 0 STATISTICSTYPE
                 FROM      (SELECT   ROW_NUMBER() OVER (PARTITION BY t0.PUMPMATCHED
                                  ORDER BY t0.INPUTDATETIME DESC) RN, t0.PUMPMATCHED, COUNT(t .PUMPMATCHED) MATCHED, 
                                 t0.INPUTDATETIME
                 FROM      (SELECT   0 PUMPMATCHED, t .INPUTDATETIME
                                  FROM      SYS_WELL_MODEL_INTEGRITY t
								   WHERE WELLTYPE='ESP'
                                  UNION
                                  SELECT   1 PUMPMATCHED, t .INPUTDATETIME
                                  FROM      SYS_WELL_MODEL_INTEGRITY t
								   WHERE WELLTYPE='ESP'
								  ) t0 LEFT JOIN
                                 SYS_WELL_MODEL_INTEGRITY t ON t0.PUMPMATCHED = t .PUMPMATCHED AND 
                                 t0.INPUTDATETIME = t .INPUTDATETIME
                 GROUP BY t0.INPUTDATETIME, t0.PUMPMATCHED) T0
WHERE   RN = 1) T
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [VW_SystemHealth_ExcutionPerform]
AS
SELECT   ROW_NUMBER() OVER (ORDER BY T2.ORDERNUMBER, T0.DATASOURCE, INPUTDATETIME) RN, T0.DATASOURCE, TARGET, ACTUAL, 
EXECUTIONTIME, STATISTICSTYPE, INPUTDATETIME
FROM      (SELECT   DATASOURCE, TARGET, ACTUAL, EXECUTIONTIME, INPUTDATETIME, 1 STATISTICSTYPE
                 FROM      dbo.SYS_DATA_PERFORMANCE
                 WHERE   (STATUSTYPE = 'Execution Status')
                 UNION
                 SELECT   DATASOURCE, TARGET, ACTUAL, EXECUTIONTIME, INPUTDATETIME, 0 STATISTICSTYPE
                 FROM      (SELECT   ROW_NUMBER() OVER (PARTITION BY DATASOURCE
                                  ORDER BY INPUTDATETIME DESC) rn, DATASOURCE, TARGET, ACTUAL, EXECUTIONTIME, 
                                 INPUTDATETIME
                 FROM      dbo.SYS_DATA_PERFORMANCE
                 WHERE   (STATUSTYPE = 'Execution Status')) T
WHERE   RN = 1) T0
INNER JOIN
(
SELECT 'ESP workflow'  DATASOURCE,2 ORDERNUMBER UNION
SELECT 'NF workflow'  DATASOURCE,2 ORDERNUMBER UNION
SELECT 'Transfer ALMS data'  DATASOURCE,1 ORDERNUMBER UNION
SELECT 'Transfer EDM data'  DATASOURCE,1 ORDERNUMBER UNION
SELECT 'Transfer FINDER data'  DATASOURCE,1 ORDERNUMBER UNION
SELECT 'Transfer IVM data'  DATASOURCE,1 ORDERNUMBER UNION
SELECT 'Transfer PHD data'  DATASOURCE,1 ORDERNUMBER UNION
SELECT 'WPE workflow'  DATASOURCE,2 ORDERNUMBER
) T2
ON T2.DATASOURCE=T0.DATASOURCE
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [VW_SystemHealth_Incident_Log]
AS
SELECT   ROW_NUMBER() OVER (ORDER BY LOGDATE) RN, CATEGORY, DURATION, LOGDATE INPUTDATETIME, STATISTICSTYPE
FROM      (SELECT   CATEGORY, DURATION, LOGDATE , 1 STATISTICSTYPE
                 FROM      SYS_INCIDENT_LOG
                 UNION
                 SELECT   CATEGORY, DURATION, LOGDATE, STATISTICSTYPE
                 FROM      (SELECT   ROW_NUMBER() OVER (PARTITION BY CATEGORY
                                  ORDER BY LOGDATE DESC) RN, CATEGORY, DURATION, LOGDATE, 0 STATISTICSTYPE
                 FROM      SYS_INCIDENT_LOG) T0
WHERE   RN = 1) T1
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [VW_SystemHealth_Incident_Log_Data] as
SELECT
  ROW_NUMBER()OVER(  ORDER BY INPUTDATETIME) RN,INPUTDATETIME,DAY_OF_THE_WEEK,TIME_OF_INCIDENT,DURATION,ACTUAL_ESTIMATED,CATEGORY,SYS_APP_NAME,SERVER_NAME,IP_ADDR,
 REMARKS,REASON,SOLUTION, STATISTICSTYPE
FROM
(
SELECT
 LOGDATE INPUTDATETIME,DAY_OF_THE_WEEK,TIME_OF_INCIDENT,DURATION,ACTUAL_ESTIMATED,CATEGORY,SYS_APP_NAME,SERVER_NAME,IP_ADDR,
 REMARKS,REASON,SOLUTION, 1 STATISTICSTYPE
FROM SYS_INCIDENT_LOG
UNION

SELECT
  INPUTDATETIME,DAY_OF_THE_WEEK,TIME_OF_INCIDENT,DURATION,ACTUAL_ESTIMATED,CATEGORY,SYS_APP_NAME,SERVER_NAME,IP_ADDR,
 REMARKS,REASON,SOLUTION, STATISTICSTYPE
FROM
(
SELECT
 ROW_NUMBER()OVER(PARTITION BY CATEGORY
                                  ORDER BY LOGDATE DESC) RN,LOGDATE INPUTDATETIME,DAY_OF_THE_WEEK,TIME_OF_INCIDENT,DURATION,ACTUAL_ESTIMATED,CATEGORY,SYS_APP_NAME,SERVER_NAME,IP_ADDR,
 REMARKS,REASON,SOLUTION, 0 STATISTICSTYPE
FROM SYS_INCIDENT_LOG 
) T0
WHERE RN=1
) T
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [VW_SystemHealth_POLECY] AS
SELECT SYS_LOG_CASE_ID  CASE_ID,CASE_TYPE CASE_TYPE,LOW_LIMIT LOW,HIGH_LIMIT HIGHT,SL.NAME LEVEL_NAME,SL.COLOR COLOR FROM SYS_LOG_CASE SLC
INNER JOIN SYS_LOG_LEVEL SL
ON SL.SYS_LOG_LEVEL_ID=SLC.SYS_LOG_LEVEL_ID
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [VW_SystemHealth_Rule] as
SELECT   SLC.SYS_LOG_CASE_ID AS CASE_ID, SLC.CASE_TYPE, SLC.LOW_LIMIT AS LOW, SLC.HIGH_LIMIT AS HIGHT, 
                SL.NAME AS LEVEL_NAME, SL.COLOR
FROM      dbo.SYS_LOG_CASE AS SLC INNER JOIN
                dbo.SYS_LOG_LEVEL AS SL ON SL.SYS_LOG_LEVEL_ID = SLC.SYS_LOG_LEVEL_ID
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [VW_SystemHealth_ServerStatus]
AS
SELECT
row_number()over(order by [datetime]) SYS_RUN_LOG_ID,  LEVEL_NAME, servertype, DATA_TYPE, 
                FREE, USED, [NAME], COLOR,  [DATETIME],  STATISTICSTYPE

FROM
(
SELECT   SRCDERVER.LEVEL_NAME, SRCDERVER.servertype, SRC_1.DATA_TYPE, 
                SRC_1.FREE, SRC_1.USED, SRC_1.NAME, SRC_1.COLOR, SRCDERVER.DATETIME, 1 STATISTICSTYPE
FROM      (SELECT   SYS_RUN_LOG_ID, DATETIME, LEVEL_NAME, 
                                 CASE WHEN DATA_TYPE LIKE '%NOT%' THEN 'OFF' ELSE 'ON' END AS servertype
                 FROM      dbo.SYS_RUN_LOG
                 WHERE   (SYS_LOG_CASE_ID = 1)) AS SRCDERVER LEFT JOIN
                    (SELECT   SRC.SYS_RUN_LOG_ID, SRC.LEVEL_NAME, SRC.DATA_TYPE, 
                                     CASE WHEN SRC.DATA_TYPE LIKE '%DISK%' THEN SRC.DATA_VALUE ELSE 100 - SRC.DATA_VALUE END AS
                                      FREE, 
                                     CASE WHEN SRC.DATA_TYPE LIKE '%DISK%' THEN 100 - SRC.DATA_VALUE ELSE SRC.DATA_VALUE END AS
                                      USED, SL.NAME, SL.COLOR, SRC.DATETIME
                     FROM      dbo.SYS_RUN_LOG AS SRC INNER JOIN
                                     dbo.SYS_LOG_CASE AS SC ON SC.SYS_LOG_CASE_ID = SRC.SYS_LOG_CASE_ID INNER JOIN
                                     dbo.SYS_LOG_LEVEL AS SL ON SL.SYS_LOG_LEVEL_ID = SC.SYS_LOG_LEVEL_ID
                     WHERE   (SRC.SYS_LOG_CASE_ID <> 1)) AS SRC_1 ON SRCDERVER.LEVEL_NAME = SRC_1.LEVEL_NAME AND 
                SRCDERVER.DATETIME = SRC_1.DATETIME
UNION
SELECT      SRCDERVER.LEVEL_NAME, SRCDERVER.servertype, SRC_1.DATA_TYPE, 
                SRC_1.FREE, SRC_1.USED, SRC_1.NAME, SRC_1.COLOR, SRCDERVER.DATETIME, 0 STATISTICSTYPE
FROM      (SELECT   SYS_RUN_LOG_ID, DATETIME, LEVEL_NAME, 
                                 CASE WHEN DATA_TYPE LIKE '%NOT%' THEN 'OFF' ELSE 'ON' END AS servertype
                 FROM      dbo.SYS_RUN_LOG
                 WHERE   (SYS_LOG_CASE_ID = 1)) AS SRCDERVER LEFT JOIN
                    (SELECT   SRC.SYS_RUN_LOG_ID, SRC.LEVEL_NAME, SRC.DATA_TYPE, 
                                     CASE WHEN SRC.DATA_TYPE LIKE '%DISK%' THEN SRC.DATA_VALUE ELSE 100 - SRC.DATA_VALUE END AS
                                      FREE, 
                                     CASE WHEN SRC.DATA_TYPE LIKE '%DISK%' THEN 100 - SRC.DATA_VALUE ELSE SRC.DATA_VALUE END AS
                                      USED, SL.NAME, SL.COLOR, SRC.DATETIME
                     FROM      dbo.SYS_RUN_LOG AS SRC INNER JOIN
                                     dbo.SYS_LOG_CASE AS SC ON SC.SYS_LOG_CASE_ID = SRC.SYS_LOG_CASE_ID INNER JOIN
                                     dbo.SYS_LOG_LEVEL AS SL ON SL.SYS_LOG_LEVEL_ID = SC.SYS_LOG_LEVEL_ID
                     WHERE   (SRC.SYS_LOG_CASE_ID <> 1)) AS SRC_1 ON SRCDERVER.LEVEL_NAME = SRC_1.LEVEL_NAME AND 
                SRCDERVER.DATETIME = SRC_1.DATETIME
WHERE   EXISTS
                    (SELECT   1
                     FROM      (SELECT   LEVEL_NAME, MAX(DATETIME) DDATE
                                      FROM      SYS_RUN_LOG
                                      GROUP BY LEVEL_NAME) T2
                     WHERE   T2.LEVEL_NAME = SRCDERVER.LEVEL_NAME AND T2.DDATE = SRCDERVER.DATETIME)
					 ) TT0
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [VW_SystemHealth_Well_Integrity]
AS
SELECT   ROW_NUMBER() OVER (ORDER BY [INPUTDATETIME] DESC) RN, [FIELD], [GC],ENGINEER,RESERVIORNAME, [WELLNAME], [MODEL_AVILIABLE], 
[MODEL_QUALITY], [TEST_MATCHED_LIQUID_MATCHED], [TEST_MATCHED_WC], [TEST_MATCHED_GOR], 
[TEST_MATCHED_WHP], [MODEL_MATCHED_PUMP_TYPE], [MODEL_MATCHED_STAGE], [STATIS_DEVIATE_WC], 
[STATIS_DEVIATE_GOR], [STATIS_DEVIATE_PI], [STATIS_DEVIATE_PR], [INPUTDATETIME], STATISTICSTYPE
FROM      (SELECT   [FIELD], [GC],ENGINEER,RESERVIORNAME, [WELLNAME], [MODEL_AVILIABLE], [MODEL_QUALITY], [TEST_MATCHED_LIQUID_MATCHED], 
                                 [TEST_MATCHED_WC], [TEST_MATCHED_GOR], [TEST_MATCHED_WHP], [MODEL_MATCHED_PUMP_TYPE], 
                                 [MODEL_MATCHED_STAGE], [STATIS_DEVIATE_WC], [STATIS_DEVIATE_GOR], [STATIS_DEVIATE_PI], 
                                 [STATIS_DEVIATE_PR], [INPUTDATETIME], 1 STATISTICSTYPE
                 FROM      SYS_WELL_MODEL_INTEGRITY
                 UNION
                 SELECT   [FIELD], [GC],ENGINEER,RESERVIORNAME, [WELLNAME], [MODEL_AVILIABLE], [MODEL_QUALITY], [TEST_MATCHED_LIQUID_MATCHED], 
                                 [TEST_MATCHED_WC], [TEST_MATCHED_GOR], [TEST_MATCHED_WHP], [MODEL_MATCHED_PUMP_TYPE], 
                                 [MODEL_MATCHED_STAGE], [STATIS_DEVIATE_WC], [STATIS_DEVIATE_GOR], [STATIS_DEVIATE_PI], 
                                 [STATIS_DEVIATE_PR], [INPUTDATETIME], 0 STATISTICSTYPE
                 FROM      (SELECT   row_number() OVER (partition BY wellname
                                  ORDER BY INPUTDATETIME DESC) rn, [INPUTDATETIME], [FIELD], [GC],ENGINEER,RESERVIORNAME, [WELLNAME], [MODEL_AVILIABLE], 
                                 [MODEL_QUALITY], [TEST_MATCHED_LIQUID_MATCHED], [TEST_MATCHED_WC], [TEST_MATCHED_GOR], 
                                 [TEST_MATCHED_WHP], [MODEL_MATCHED_PUMP_TYPE], [MODEL_MATCHED_STAGE], 
                                 [STATIS_DEVIATE_WC], [STATIS_DEVIATE_GOR], [STATIS_DEVIATE_PI], [STATIS_DEVIATE_PR]
                 FROM      SYS_WELL_MODEL_INTEGRITY) t1
WHERE   rn = 1) T0
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [VW_SystemHealth_WellModelQuality]
AS
SELECT   ROW_NUMBER() OVER (ORDER BY INPUTDATETIME) RN, MODEL_AVILIABLE_TYPE, MODEL_AVILIABLE, 
TYPEPERCENT, INPUTDATETIME, STATISTICSTYPE
FROM      (SELECT   MODEL_AVILIABLE_TYPE, MODEL_AVILIABLE, TYPEPERCENT, INPUTDATETIME, 1 STATISTICSTYPE
                 FROM      (SELECT   T0.INPUTDATETIME, 'Model  Availablility' MODEL_AVILIABLE_TYPE, MODEL_AVILIABLE, 
                                                  T1.COU / T0.COU * 100 TYPEPERCENT
                                  FROM      (SELECT   SWMI.INPUTDATETIME, SUM(1.0) COU
                                                   FROM      SYS_WELL_MODEL_INTEGRITY SWMI
                                                   GROUP BY SWMI.INPUTDATETIME) T0 LEFT JOIN
                                                      (SELECT   SWMI.INPUTDATETIME, MODEL_AVILIABLE, SUM(1.0) COU
                                                       FROM      SYS_WELL_MODEL_INTEGRITY SWMI
                                                       GROUP BY SWMI.INPUTDATETIME, MODEL_AVILIABLE) T1 ON 
                                                  T1.INPUTDATETIME = T0.INPUTDATETIME
                                  UNION
                                  SELECT   T0.INPUTDATETIME, 'Model  Quality' MODEL_AVILIABLE_TYPE, MODEL_QUALITY, 
                                                  T1.COU / T0.COU * 100 TYPEPERCENT
                                  FROM      (SELECT   SWMI.INPUTDATETIME, SUM(1.0) COU
                                                   FROM      SYS_WELL_MODEL_INTEGRITY SWMI
                                                   GROUP BY SWMI.INPUTDATETIME) T0 LEFT JOIN
                                                      (SELECT   SWMI.INPUTDATETIME, MODEL_QUALITY, SUM(1.0) COU
                                                       FROM      SYS_WELL_MODEL_INTEGRITY SWMI
                                                       GROUP BY SWMI.INPUTDATETIME, MODEL_QUALITY) T1 ON 
                                                  T1.INPUTDATETIME = T0.INPUTDATETIME) T
                 UNION
                 SELECT   MODEL_AVILIABLE_TYPE, MODEL_AVILIABLE, TYPEPERCENT, INPUTDATETIME, 0 STATISTICSTYPE
                 FROM      (SELECT   ROW_NUMBER() OVER (PARTITION BY MODEL_AVILIABLE
                                  ORDER BY INPUTDATETIME desc) RN, MODEL_AVILIABLE_TYPE, MODEL_AVILIABLE, TYPEPERCENT, 
                                 INPUTDATETIME
                 FROM      (SELECT   T0.INPUTDATETIME, 'Model  Availablility' MODEL_AVILIABLE_TYPE, MODEL_AVILIABLE, 
                                                  T1.COU / T0.COU * 100 TYPEPERCENT
                                  FROM      (SELECT   SWMI.INPUTDATETIME, SUM(1.0) COU
                                                   FROM      SYS_WELL_MODEL_INTEGRITY SWMI
                                                   GROUP BY SWMI.INPUTDATETIME) T0 LEFT JOIN
                                                      (SELECT   SWMI.INPUTDATETIME, MODEL_AVILIABLE, SUM(1.0) COU
                                                       FROM      SYS_WELL_MODEL_INTEGRITY SWMI
                                                       GROUP BY SWMI.INPUTDATETIME, MODEL_AVILIABLE) T1 ON 
                                                  T1.INPUTDATETIME = T0.INPUTDATETIME
                                  UNION
                                  SELECT   T0.INPUTDATETIME, 'Model  Quality' MODEL_AVILIABLE_TYPE, MODEL_QUALITY, 
                                                  T1.COU / T0.COU * 100 TYPEPERCENT
                                  FROM      (SELECT   SWMI.INPUTDATETIME, SUM(1.0) COU
                                                   FROM      SYS_WELL_MODEL_INTEGRITY SWMI
                                                   GROUP BY SWMI.INPUTDATETIME) T0 LEFT JOIN
                                                      (SELECT   SWMI.INPUTDATETIME, MODEL_QUALITY, SUM(1.0) COU
                                                       FROM      SYS_WELL_MODEL_INTEGRITY SWMI
                                                       GROUP BY SWMI.INPUTDATETIME, MODEL_QUALITY) T1 ON 
                                                  T1.INPUTDATETIME = T0.INPUTDATETIME) T) TT
WHERE   TT.RN = 1) TTT
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [SP_INSERT_SYS_RUN_LOG]
(
 @Date datetime,
 @SYS_LOG_CASE_ID int,
 @LEVEL VARCHAR(50),
 @LEVEL_NAME VARCHAR(50),
 @DATATYPE VARCHAR(100),
 @DataValue float,
 @REMARKS NVARCHAR(255)
)
AS
BEGIN
--Remove old data
	INSERT INTO SYS_RUN_LOG
	(    DATETIME,
		 SYS_LOG_CASE_ID, 
		 [LEVEL],
		 LEVEL_NAME,
		 DATA_TYPE,
		 DATA_VALUE,
		 REMARKS
	)
	Select
	    case when @Date is null then GETDATE() else @Date end,
		@SYS_LOG_CASE_ID,
		@LEVEL,
		@LEVEL_NAME,
		@DATATYPE,
		@DataValue,
		@REMARKS

END







GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [SP_INSERT_SYS_RUN_LOG_FOR_DISKSPACE]
(
 @DISK_NAME VARCHAR(100),
 @FREE_SPACE FLOAT,
 @LEVEL_NAME VARCHAR(100)
)
AS
BEGIN
declare 
@lowlimit float,
@higlimit float,
@log_case_id int,
@diskspace cursor,
@maxdate cursor,
@Date datetime,
@LEVEL varchar(100),
@REMARKS varchar(255)
SET @LEVEL = 'SERVER'
set @diskspace =cursor for
select Sys_LOG_Case_ID,low_limit,high_limit from SYS_LOG_CASE
where case_type='DISK'
set @maxdate =cursor for select max( [DATETIME]) dat from SYS_RUN_LOG   where LEVEL_NAME=@LEVEL_NAME
open @maxdate
fetch next from @maxdate into @Date
close @maxdate
deallocate @maxdate
open @diskspace
fetch next from @diskspace into @log_case_id,@lowlimit,@higlimit
while @@FETCH_STATUS=0
begin
 if(@higlimit is  null
    and @FREE_SPACE>@lowlimit
   )
   begin
   break
   end
 else if(@lowlimit is   null
    and   @FREE_SPACE<@higlimit)
	 begin
	 break
	 end
	 else if( @FREE_SPACE>=@lowlimit and @FREE_SPACE<@higlimit)
	 begin
	 break
	 end
 fetch next from @diskspace into @log_case_id,@lowlimit,@higlimit
 end
 close @diskspace
 deallocate @diskspace
 set @REMARKS= @DISK_NAME +' usage is '+CAST(@FREE_SPACE AS nvarchar)+'% in '+@LEVEL_NAME
 EXEC SP_INSERT_SYS_RUN_LOG @Date,  @log_case_id, @LEVEL,@LEVEL_NAME,@DISK_NAME, @FREE_SPACE, @REMARKS

END



GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [SP_INSERT_SYS_RUN_LOG_FOR_PERFORMANCE]
(
 @NAME VARCHAR(100),
 @UTILIZATION FLOAT,
 @LEVEL_NAME VARCHAR(100)
)
AS
BEGIN
DECLARE  
 
 @log_case_id int, 
 @LEVEL VARCHAR(50), 
 @REMARKS NVARCHAR(255),
 @cpuusage cursor,
 @memeryusage cursor,
  @lowlimit float,
  @maxdate cursor,
@Date datetime,
  @higlimit float
  set @maxdate =cursor for select max( [DATETIME]) dat from SYS_RUN_LOG   where LEVEL_NAME=@LEVEL_NAME
open @maxdate
fetch next from @maxdate into @Date
close @maxdate
deallocate @maxdate
 SET @cpuusage=cursor for
select Sys_LOG_Case_ID,low_limit,high_limit from SYS_LOG_CASE
where case_type='CPU'
SET @memeryusage=cursor for
select Sys_LOG_Case_ID,low_limit,high_limit from SYS_LOG_CASE
where case_type='MEMORY'
IF @NAME = 'CPU' 
   BEGIN
   open @cpuusage
fetch next from @cpuusage into @log_case_id,@lowlimit,@higlimit
while @@FETCH_STATUS=0
begin
 if(@higlimit is  null
    and @UTILIZATION>@lowlimit
   )
   begin
   break
   end
 else if(@lowlimit is   null
    and   @UTILIZATION<@higlimit)
	 begin
	 break
	 end
	 else if( @UTILIZATION>=@lowlimit and @UTILIZATION<@higlimit)
	 begin
	 break
	 end
 fetch next from @cpuusage into @log_case_id,@lowlimit,@higlimit
 end
 close @cpuusage
 deallocate @cpuusage  
 SET @REMARKS = 'CPU usage is '+CAST(@UTILIZATION AS nvarchar)+' %' 
SET @LEVEL = 'SERVER'
end
IF @NAME = 'MEMORY' 
   BEGIN
   open @memeryusage
fetch next from @memeryusage into @log_case_id,@lowlimit,@higlimit
while @@FETCH_STATUS=0
begin
 if(@higlimit is  null
    and @UTILIZATION>@lowlimit
   )
   begin
   break
   end
 else if(@lowlimit is   null
    and   @UTILIZATION<@higlimit)
	 begin
	 break
	 end
	 else if( @UTILIZATION>=@lowlimit and @UTILIZATION<@higlimit)
	 begin
	 break
	 end
 fetch next from @memeryusage into @log_case_id,@lowlimit,@higlimit
 end
 close @memeryusage
 deallocate @memeryusage  
 SET @REMARKS = 'Memory usage is '+CAST(@UTILIZATION AS nvarchar)+' %' 
SET @LEVEL = 'SERVER'
end

 EXEC SP_INSERT_SYS_RUN_LOG @Date,@log_case_id,@LEVEL,@LEVEL_NAME,@NAME, @UTILIZATION, @REMARKS

END



GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [SP_INSERT_SYS_WELL_MODEL_INTEGRITY]
as
begin
truncate table SYS_WELL_MODEL_INTEGRITY
insert into SYS_WELL_MODEL_INTEGRITY(
INPUTDATETIME,
FIELD,
GC,
ENGINEER,
RESERVIORNAME,
WELLNAME,
MODEL_AVILIABLE,
MODEL_QUALITY,
PUMPMATCHED,
WELL_MODEL_PUMP_NAME,
WELL_MODEL_STAGE,
ModifiedBy,
ALMS_PUMP_NAME,
ALMS_STAGE,
TEST_MATCHED_LIQUID_MATCHED,
TEST_MATCHED_WC,
TEST_MATCHED_GOR,
TEST_MATCHED_WHP,
MODEL_MATCHED_PUMP_TYPE,
MODEL_MATCHED_STAGE,
STATIS_DEVIATE_WC,
STATIS_DEVIATE_GOR,
STATIS_DEVIATE_PI,
STATIS_DEVIATE_PR,
WELLTYPE
)  
select pwd.date INPUTDATETIME,
vm.field,
vm.GatheringCentreName gc,
VM.EngineerName,
VM.ReservoirName,
vm.WellName,
case when KPIValue in(0,-1) then 'NoModel' else 'HasModel' end MODEL_AVILIABLE,
 kl.KPIName  MODEL_QUALITY,
 case when pwd.COMPARENAME=alm.pumpname and pwd.Stages=alm.stages then 1 else 0 end PUMPMATCHED,
 pwd.PumpName WELL_MODEL_PUMP_NAME,
 pwd.Stages WELL_MODEL_STAGE, 
 PWD.ModifiedBy,
 alm.pumpname ALMS_PUMP_NAME,
 alm.stages ALMS_STAGE,
 case when wwt.LiquidRate=alm.liquidrate then 1 else 0 end TEST_MATCHED_LIQUID_MATCHED,
  case when wwt.WATERCUT=alm.WATERCUT then 1 else 0 end  TEST_MATCHED_WC,
  case when wwt.GOR=alm.GOR then 1 else 0 end  TEST_MATCHED_GOR,
  case when wwt.WHP=alm.WHP then 1 else 0 end  TEST_MATCHED_WHP,
  case when pwd.COMPARENAME=alm.PumpName then 1 else 0 end  MODEL_MATCHED_PUMP_TYPE,
  case when pwd.Stages=alm.Stages then 1 else 0 end MODEL_MATCHED_STAGE,
 isnull(round(wt.wct,0),0) STATIS_DEVIATE_WC,
 isnull(round(wt.gor,0),0) STATIS_DEVIATE_GOR,
 isnull(round(pir.pi,0),0) STATIS_DEVIATE_PI,
 isnull(round(pir.pr,0),0) STATIS_DEVIATE_PR,
 VM.ObjectTypeSubName
from 
(
select KPIValue,WellID,PumpName,Stages,date,ModifiedBy,
 case when PumpName is not null and CHARINDEX(' ',PumpName)>0  then   left (ltrim(substring(PumpName,CHARINDEX(' ',PumpName),20)),
CHARINDEX(' ',ltrim(substring(PumpName,CHARINDEX(' ',PumpName),20)))-1) 
else PumpName end COMPARENAME
 from
PetexWellDailyData pwd
 where exists( select 1 from (select dateadd(mm,-1,max(date)) dd from PetexWellDailyData) t where pwd.Date>=t.dd)
 ) pwd
inner join ModelKPIType kl 
on kl.KPIID=pwd.KPIValue
inner join VW_Well_Master vm
on vm.WellID=pwd.wellid
 left join 
 (
   select wellid,STDEVP(gor) gor,STDEVP(WaterCut) wct,stdevp(flp) FLP from VW_WellTestHistory
group by wellid
 ) wt
 on wt.wellid=pwd.wellid
 left join 
 (
  select WellID,stdevp(ProductivityIndex) pi,
  stdevp(ReservoirPressure) pr
  from PetexWellDailyData p  where exists( select 1 from (select dateadd(mm,-1,max(date)) dd from PetexWellDailyData) t where p.Date>=t.dd) 
  group by WellID
 ) pir
  on pir.wellid=pwd.wellid
 left join 
 (
select
t.wellid, 
round(LIQUIDRATE,0) LIQUIDRATE,
round(OILRATE,0) OILRATE,
round(WATERCUT,0) WATERCUT,
round(GASRATE,0) GASRATE,
round(GOR,0) GOR,
round(WHP,0) WHP,
round(FLP,0) FLP,
round(WHT,0) WHT
from(
select  wellid, liquidrate,OilRate,WaterCut,GasRate, gor,whp,flp,wht,ROW_NUMBER()over(partition by wellid order by starttime desc) rn from WellTest
where FPId=0
) t
where t.rn=1 
 ) wwt
 on wwt.wellid=pwd.wellid
 left join 
 (
   select
t.wellid, round(LIQUIDRATE,0) LIQUIDRATE,
round(OILRATE,0) OILRATE,
round(WATERCUT,0) WATERCUT,
round(GASRATE,0) GASRATE,
round(GOR,0) GOR,
round(WHP,0) WHP,
round(FLP,0) FLP,
round(WHT,0) WHT,pumpname,stages
from(
select  wellid, liquidrate,OilRate,WaterCut,GasRate, gor,whp,flp,wht,pumpname,stage stages,ROW_NUMBER()over(partition by wellid order by inputdate desc) rn from SYS_WORKFLOW_TEST_DATA
) t
where t.rn=1 
 )  alm
 on alm.wellid=pwd.wellid
 end
GO
